<!DOCTYPE html>
<html>
<head>
    <title>0x2 Index</title>
    <link rel="stylesheet" href="../staticFiles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="a">
        <h1>Buenas!</h1>
        <form action="postulante" method="get">
            <input type="submit" value="Postulante">
        </form>
        <form action="cliente" method="get">
            <input type="submit" value="Cliente">
        </form>    
    </div>
</body>
</html>