<!DOCTYPE html>
<html>
    <head>
        <title>0x2 Postulante</title>
        <link rel="stylesheet" href="../staticFiles/style.css">
        <link rel="stylesheet" href="../staticFiles/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="a">
            <h1>Buenas Postulante!</h1>
            <form action="nuevoPos" method="post">
                <input type="text" name="name" placeholder="name">
                <input type="text" name="lastName" placeholder="lastName">
                <input type="text" name="email" placeholder="email">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>